<div class="modal-header">
  <h4 class="modal-title">Create Blog</h4>
</div>
<div class="modal-body">
  <app-blog-form
    #blogForm
    (valueChangeEvent)="onValueChange($event)"></app-blog-form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    [disabled]="isLoading"
    (click)="activeModal.close()">
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="blogForm.isInvalidForm || isLoading"
    (click)="onCreateDialog()">
    @if (isLoading) {
      <span class="spinner-border spinner-border-sm me-1"></span>
      <span role="status">Loading...</span>
    } @else {
      Create
    }
  </button>
</div>
