<div class="bg-light">
  <div class="container detail-container py-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Blog Post</li>
      </ol>
    </nav>
    <h1 class="fs-1 my-3">Blog Title</h1>
    <p class="text-muted">
      <i class="bi bi-clock"></i>
      Posted Jan 10, 1998
    </p>
  </div>
</div>
<div class="container detail-container">
  <img class="w-100 h-auto my-5" src="https://placehold.co/600x400" alt="..." />
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur ipsa
    animi laboriosam tempore cum mollitia aperiam. Ratione eaque expedita optio
    unde, ipsam, dolor perferendis dolores recusandae repellat dolorum, rerum
    distinctio.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur ipsa
    animi laboriosam tempore cum mollitia aperiam. Ratione eaque expedita optio
    unde, ipsam, dolor perferendis dolores recusandae repellat dolorum, rerum
    distinctio.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur ipsa
    animi laboriosam tempore cum mollitia aperiam. Ratione eaque expedita optio
    unde, ipsam, dolor perferendis dolores recusandae repellat dolorum, rerum
    distinctio.
  </p>
</div>
