/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.blog-action-wrapper {
  &.show {
    #blog-actions {
      display: inline-block !important;
    }
  }
}

.invalid-message {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--bs-form-invalid-color);
}
