<button
  type="button"
  class="create-btn btn btn-primary btn-lg position-fixed"
  (click)="onCreateClicked()">
  <i class="bi bi-plus-lg"></i>
  Create Blog
</button>
<div class="bg-light">
  <div class="container py-5 text-center">
    <span class="fs-1 d-inline-block my-3">Our Blog</span>
    <div class="row">
      <div class="col-xl-4 mx-auto">
        <app-search-box
          [search]="(search$ | async)!"
          (searchChangeEvent)="onSearchChange($event)"></app-search-box>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="mt-5 mb-3">
    <app-sort-selection
      [selectedOption]="(sortBy$ | async)!"
      (sortChangeEvent)="onSortChange($event)"></app-sort-selection>
  </div>
  <app-blog-list
    [blogs]="(blogs$ | async)!"
    [isLoading]="(isLoading$ | async)!"></app-blog-list>
  <div class="py-5">
    <ngb-pagination
      class="d-flex justify-content-center"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      [page]="(page$ | async)!"
      [pageSize]="(pageSize$ | async)!"
      [collectionSize]="(collectionSize$ | async)!"
      (pageChange)="onPageChange($event)" />
  </div>
</div>
