<button
  type="button"
  class="create-btn btn btn-primary btn-lg position-fixed"
  (click)="onCreateClicked()">
  <i class="bi bi-plus-lg"></i>
  Create Blog
</button>
<div class="bg-light">
  <div class="container py-5 text-center">
    <span class="fs-1 d-inline-block my-3">Our Blog</span>
    <div class="row">
      <div class="col-xl-4 mx-auto">
        <input
          id="search-blog"
          type="email"
          class="form-control"
          placeholder="Search Blog" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center justify-content-end g-0 mt-5 mb-3">
    <div class="col-auto">
      <label class="col-form-label me-1" for="sort-blog">Sort by:</label>
    </div>
    <div class="col-auto">
      <select id="sort-blog" class="form-select">
        <option selected>Newest</option>
        <option>Title</option>
      </select>
    </div>
  </div>
  <ul class="row list-unstyled g-5">
    @for (blog of blogs; track blog) {
      <li class="col-sm-12 col-xl-6">
        <div class="card border-0 position-relative">
          <div
            ngbDropdown
            class="blog-action-wrapper d-inline-block position-absolute">
            <button
              type="button"
              class="btn btn-light"
              id="blog-actions"
              ngbDropdownToggle>
              <i class="bi bi-three-dots"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="blog-actions">
              <button ngbDropdownItem (click)="onUpdateClicked()">
                <i class="bi bi-pencil"></i>
                Update
              </button>
              <button ngbDropdownItem (click)="onDeleteClicked()">
                <i class="bi bi-trash"></i>
                Delete
              </button>
            </div>
          </div>
          <div class="row g-0">
            <div class="col-auto">
              <img
                width="300"
                height="200"
                src="https://placehold.co/300x200"
                class="img-fluid rounded"
                alt="..." />
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">Blog Title {{ blog }}</h5>
                <p class="card-text text-muted">
                  <i class="bi bi-clock"></i>
                  Jan 10, 1998
                </p>
                <a
                  [routerLink]="['/detail/1']"
                  class="read-more-btn btn btn-link stretched-link px-0 text-reset">
                  Read More
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    }
  </ul>
  <div class="py-5">
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="120"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true" />
  </div>
</div>
